@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <body>
    <h1>Collection Size: @Model.Count</h1>
    @if (Model == null)
    {
        <h2>No games provided</h2>
    }
    else
    {
        foreach (VideoGame game in Model)
        {
            

            <partial name="../Video Game/_VideoGamePartialView.cshtml" for="@game" />
        }
    }
    </body>
</html>
