
@if (Model == null)
{
	<h2>No Games provided</h2>
}
else
{
	<div style="display:flex; flex-direction: row; flex-wrap: wrap; justify-content: center">
		@foreach (VideoGame game in Model)
		{
			<partial name="../Video Game/_VideoGamePartialView.cshtml" for="@game" />
		}
	</div>
}