@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
    </head>
    <body >
    <div style="width: 98%; float:left; height:100px;">
            <h1 class="text-center">Into The Future</h1>
            <div class="card mb-3 col-3">
                <h3 class="card-header">Matthan Cantrell</h3>
                <div class="card-body">
                    <h5 class="card-title">Aspiring Software Developer</h5>
                    <h6 class="card-subtitle text-muted">Full-Time Student</h6>
                </div>
                <img class="resize" src="~/images/me08.JPG">
                <div class="card-body">
                    <p class="card-text">I have years of experience and desperately need an internship. <br> Please, I beg of you. </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Second Year Undergraduate Student</li>
                    <li class="list-group-item">Great With Animals</li>
                    <li class="list-group-item">Very Poor</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.github.com/matthancantrell" target="_blank" class="card-link">See My Work Here!</a>
                </div>
            </div>
        </div>
    <div style="width: 70%;float:right; height:100%; margin:10px">
        <h2>Goals</h2>
            <p>
                Beyond Neumont, I have so many goals. I truly believe that I can and will work hard enough to make myself
                worthy of achieving these goals. It won't be easy, but when is anything that is worth while?
                <ul>
                    <li>Get a long-term position in industry.</li>
                    <li>Develop games and software of my own.</li>
                    <li>Become financially independent and free.</li>
                    <li>Work around the world.</li>
                    <li>Make a real impact on the world with my work.</li>
                </ul>

                I know that all of this may seem silly. It really may be, but these are the things that 
                make me happy. I want to become my own independent developer at some point and make something 
                that people talk about for years. I want to form a community of positivity with my work.
            </p>
            <br>
            <h2>How I am going to achieve my goals</h2>
            <p>
                While having large goals, I do not possess unrealistic expectations. I am going to apply
                for internships while I am still in school. I am going to work in school and on my own to 
                attain skills so I can better market myself for hiring teams. I am going to network to make 
                connections that may help me. I am going to keep my grades as high as possible to best pursue my 
                education.To attain my goals, I have to make myself a priority and not waver from working to get 
                myself where I want to be.
                <br> <br>
                (Side Note: My super niche goal is to work at Riot Games. I really love the content they make.)
            </p>
            <img class="resize" src="~/images/me09.JPG">
        </div>
    </body>

</html>








