@{
    ViewData["Title"] = "Home Page";
}

<!-- Warning -->
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading text-center">Warning!</h4>
  <p class="mb-0 text-center">You've officially stumbled upon the coolest webpage around.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1><!-- Welcome Text -->
    <br>
    <h1 class="text-center">Who am I?</h1> <!-- About Me -->
    <p>
        Hello! My name is Matthan Cantrell! I am currently twenty years old, and I am an aspiring software developer.
        I started as a self-taught Java enthusiast, but now I mainly work in .NET languages such as C# & C++.
        I have been programming for about six, going onto seven, years now. This website is made to tell you a bit more about myself
        as a person, not just a programmer.
    </p>
    <button class="btn btn-success">
        <img class="resize" src="images/me01.jpg"> <!-- Image 01 -->
    </button>
    <p>(From left to right: My nephew, Myself, and My Niece)</p>
    <br>
    <h1 class="text-center">What makes me Matthan?</h1> <!-- More about me -->
    <p>
        Here I want to give you a bit more insight into myself and what I enjoy doing. I skateboard frequently, I enjoy hiking, and I absolutely love
        books! I work out here and there, not as much as I want to. I cook all the time. I work two jobs as well as being a full time student. My first job
        is as a TA or academic coach. My second job is at a local cheesecake shop. Other than that, I am also a captain on Neumont's Esports program. As a 
        game student, I do play plenty of games. This ranges from League of Legends and Final Fantast XIV to Animal Crossing and Pikmin.
    </p>
    <button class="btn btn-secondary">
        <img class="resize" src="images/me02.jpg"> <!-- Image 02 -->
    </button>
    <p>(My very own skateboard!)</p>
    <br>
    <button class="btn btn-secondary">
        <img class="resize" src="images/me03.jpg"> <!-- Image 03 -->
    </button>
    <p>An old photo of when my bookstack was smaller on my much messier desk.</p>
</div>

<pre> 
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⣶⣿⣿⣷⣶⣄⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣾⣿⣿⡿⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⡟⠁⣰⣿⣿⣿⡿⠿⠻⠿⣿⣿⣿⣿⣧⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⠏⠀⣴⣿⣿⣿⠉⠀⠀⠀⠀⠀⠈⢻⣿⣿⣇⠀⠀⠀
⠀⠀⠀⠀⢀⣠⣼⣿⣿⡏⠀⢠⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⣿⡀⠀⠀
⠀⠀⠀⣰⣿⣿⣿⣿⣿⡇⠀⢸⣿⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⡇⠀⠀
⠀⠀⢰⣿⣿⡿⣿⣿⣿⡇⠀⠘⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⢀⣸⣿⣿⣿⠁⠀⠀
⠀⠀⣿⣿⣿⠁⣿⣿⣿⡇⠀⠀⠻⣿⣿⣿⣷⣶⣶⣶⣶⣶⣿⣿⣿⣿⠃⠀⠀⠀
⠀⢰⣿⣿⡇⠀⣿⣿⣿⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠁⠀⠀⠀⠀
⠀⢸⣿⣿⡇⠀⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠉⠛⠛⠛⠉⢉⣿⣿⠀⠀⠀⠀⠀⠀
⠀⢸⣿⣿⣇⠀⣿⣿⣿⠀⠀⠀⠀⠀⢀⣤⣤⣤⡀⠀⠀⢸⣿⣿⣿⣷⣦⠀⠀⠀
⠀⠀⢻⣿⣿⣶⣿⣿⣿⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣦⡀⠀⠉⠉⠻⣿⣿⡇⠀⠀
⠀⠀⠀⠛⠿⣿⣿⣿⣿⣷⣤⡀⠀⠀⠀⠀⠈⠹⣿⣿⣇⣀⠀⣠⣾⣿⣿⡇⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣦⣤⣤⣤⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⢿⣿⣿⣿⣿⣿⣿⠿⠋⠉⠛⠋⠉⠉⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠉⠁
</pre>