@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-12">
        <form asp-controller="Home" asp-action="Output">
            <label for="FirstName"> First Name: </label>
            <input id="FirstName" type="text" name="FirstName" placeholder="First Name">
            <input id="LastName" type="text" name="LastName" placeholder="Last Name">
            <button type="submit">Submit</button>
        </form>
        <form asp-controller="Home" asp-action="Output">
        </form>
    </div>
</div>