@{
    ViewData["Title"] = "The Past";
}

<div class="text-center">
    <h1>Back To The Past!</h1>
    <br>
    <h2>What did I do before Neumont?</h2>
    <p>
        Before Neumont, before the pandemic, I was actually a robotics student. I desperately wanted to be a mechanical engineering student
    </p>
</div>
