@{
    ViewData["Title"] = "The Past";
}

<div class="text-center">
    <h1>Back To The Past!</h1>
    <br>
    <h2>What did I do before Neumont?</h2>
    <p>
        Before Neumont, before the pandemic, I was actually a robotics student. I desperately wanted to be a mechanical engineering student.
        I had been a football player for about a year and a half before an injury, and then I dedicated myself to being a part of our robotics team.
        During this time, I was teaching myself how to program in Java, CSS, HTML, and Python. Meanwhile, I was actively learning in school how to make
        printed circuit boards, wire electrical systems, how to machine my own parts, and how to use 3D modeling software.
    </p>
    <button class="btn btn-primary col-4">
        <img class="resize" src="~/images/me04.jpg">
    </button>
    <button class="btn btn-secondary col-5">
        <img class="resize" src="~/images/me05.jpg">
    </button>
    <p>(Robots that I have worked on during my time in high school)</p>
    <br>
     <h2>How did I get to where I am now?</h2>
     <p>
         Being a part of my robotics team, I got to meet a lot of people who would help me in my journey into STEM. I have met and worked with the
         Department of Defense, local refineries, and even worked with the New Orleans Pelicans. These big experiences really drove me into a STEM 
         career, but I decided on software development as opposed to mechanical engineering once college rolled around. I realized my love for computers
         was deeper than my enjoyment for building new things. (It's also so much easier to code than it is to build without connections and resources.)
     </p>
    <button class="btn btn-success">
        <img class="resize" src="~/images/me06.jpg">
    </button>
    <p>(One of my first websites I ever made, through AWS and Github.)</p>
    <button class="btn btn-warning">
        <img class="resize" src="~/images/me07.jpg">
    </button>
    <p>(A robot made by my robotics team for the New Orleans Pelicans.)</p>
</div>
