html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.right {
    right: auto;
    position: fixed;
}

.left {
    left: auto;
    position: fixed;
}

img.resize {
    width: 100%;
    height: auto;
}

footer {
    margin-top: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}