@{
    ViewData["Title"] = "Home";
}

@model VideoGame

<div class="text-center">
    <h1 class="display-4">Welcome to PikLab!</h1>
    <p>PikLab is your one-stop shop for video games! You want it? We got it! Shop to your heart desire, just make sure to bring the games back.</p>
    <p>Below you can loan and return games through us!</p>

	<form asp-controller="Home" asp-action="Loan" method="post">
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-primary">Loan Game</h2>
				<hr />
			</div>
			<div class="mb-3">
				<label asp-for="Title"></label>
				<input asp-for="Title" class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="Platform"></label>
				<input asp-for="Platform" class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="Genre"></label>
				<input asp-for="Genre" class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="ESRB_Rating">ESRB Rating</label>
				<input asp-for="ESRB_Rating" class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="Year">Release Year</label>
				<input asp-for="Year" class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="LoanedTo">Your Name</label>
				<input asp-for="LoanedTo" class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="LoanDate">Today's Date</label>
				<input asp-for="LoanDate" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary">Loan</button>
			<a asp-controller="Home" asp-action="Collection" class="btn btn-secondary">Collection</a>
		</div>
	</form>

	<form asp-controller="Home" asp-action="Return" method="post">
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-primary">Return Game</h2>
				<hr />
			</div>
			<div class="mb-3">
				<label asp-for="Title"></label>
				<input asp-for="Title" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary">Return</button>
		</div>
	</form>
</div>
