@{
    ViewData["Title"] = "Home";
}

@model VideoGame

<div class="text-center">
    <h1 class="display-4">Welcome to PikLab!</h1>
    <p>PikLab is your one-stop shop for video games! You want it? We got it! Shop to your heart desire, just make sure to bring the games back.</p>
    <p>Below you can loan and return games through us!</p>
